body {
  margin: 0;
  font-family: Verdana;
}

.menubar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  height: 100vh;
  right: 0px;
  font-weight: 7px;
}

#vertical_underline {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 3px;
  transition: 0.5s;
  background-color: pink;
  top: 0;
}


section a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 200px;
  font-size: 2em;
  text-align: center;
  margin: 1em;
}

a:hover {
  color : black;
}

.top {
  text-align: center;
  padding: 30px;
  font-weight: 7px;
}

#about {
  background-color: #f7db88;
  width: 100wh;
  margin: 0;
}

.introduce {
  margin: 50px;
  height: 810px;
  border: 5px soild #535555;
  width: 500px;
}

.introduce a {
  text-decoration: none;
  color: black;
}

.my_intro p {
  font-style:italic;
  font-size:32px;
  font-family: Verdana;
  color:#2980b9;
}

#experience {
  background-color: rgb(76, 134, 214);
  width: 100wh;
  margin: 0;
  height: 945px;
}

#favorite {
  background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  width: 100wh;
  margin: 0;
  height: 945px;
}

.love {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
